<div class="col-md-offset-4">
    <div class="panel panel-default col-md-6">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="glyphicon glyphicon-wrench"></i> Change Password</h3>
        </div>
        <div class="panel-body row">
            <label class="col-sm-3">Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" ng-model="privacyTabDirectiveCtrl.password" placeholder="Password">
            </div>
            <label class="col-sm-3">New password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" ng-model="privacyTabDirectiveCtrl.newPassword" placeholder="New password">
            </div>
            <label class="col-sm-3">Confirm password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" ng-model="privacyTabDirectiveCtrl.confirmPassword" placeholder="Confirm password">
            </div>
        </div>
        <div class="panel-footer col-sm-12">
            <button type="button" class="btn btn-primary" ng-click="privacyTabDirectiveCtrl.saveChanges()">Save
                changes
            </button>
        </div>
    </div>
</div>