<div class="col-md-offset-3">
    <form class="form-horizontal col-md-8">
        <div class="panel panel-default row">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-wrench"></i> Profile settings</h3>
            </div>
            <div class="panel-body">
                <label class="col-md-2">Full name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="profileTabDirectiveCtrl.fullName" placeholder="Full name">
                </div>
                <label class="col-md-2">Age</label>
                <div class="col-md-10">
                    <input type="number" class="form-control" ng-model="profileTabDirectiveCtrl.age" placeholder="Age">
                </div>
                <label class="col-md-2">Gender</label>
                <div class="col-md-10" uib-dropdown>
                    <button class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle>
                        <span>{{profileTabDirectiveCtrl.gender}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu>
                        <li><a href ng-click="profileTabDirectiveCtrl.gender = 'None'">None</a></li>
                        <li><a href ng-click="profileTabDirectiveCtrl.gender = 'Male'">Male</a></li>
                        <li><a href ng-click="profileTabDirectiveCtrl.gender = 'Female'">Female</a></li>
                    </ul>
                </div>
                <label class="col-md-2">Email</label>
                <div class="col-md-10">
                    <input type="email" class="form-control" ng-model="profileTabDirectiveCtrl.email" placeholder="Email"
                           disabled>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-paint-brush"></i> Personalization</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-10" uib-dropdown>
                            <button type="button" class="btn btn-info" uib-dropdown-toggle>
                                {{profileTabDirectiveCtrl.backgroundDropdown}}<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li>
                                    <a href ng-click="profileTabDirectiveCtrl.backgroundDropdown = 'Background color'">Background
                                        color</a>
                                </li>
                                <li>
                                    <a href ng-click="profileTabDirectiveCtrl.backgroundDropdown = 'Background image'">Background
                                        image</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div ng-hide="profileTabDirectiveCtrl.backgroundDropdown != 'Background color'">
                        <input colorpicker type="text" ng-model="profileTabDirectiveCtrl.colorPicker" />
                    </div>
                    <div ng-hide="profileTabDirectiveCtrl.backgroundDropdown != 'Background image'">
                        <i class="glyphicon glyphicon-plus" id="addImageIcon"></i>
                        <img id="currentBackgroundImage" ng-src="{{profileTabDirectiveCtrl.currentBackground}}">
                    </div>
                </div>
            </div>
            <div class="panel-footer col-md-12">
                <button type="button" class="btn btn-primary" ng-click="profileTabDirectiveCtrl.sendChanges()">Save
                    changes
                </button>
            </div>
        </div>
    </form>
</div>