<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <strong><a class="navbar-brand" ng-href="#/">TODOAPP</a></strong>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div search-friend></div>
                </div>
            </form>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown" uib-dropdown friend-request>
            </li>

            <li class="dropdown" uib-dropdown>
                <a href uib-dropdown-toggle>
                    <strong>{{settingsCtrl.fullName}}</strong>
                    <b class="caret"></b>
                </a>
                <ul uib-dropdown-menu>
                    <li>
                        <a ng-href="#/settings"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ng-click="settingsCtrl.logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li ng-class="{'active': settingsCtrl.activeTab.active == 0}">
                    <a href ng-click="settingsCtrl.changeTab(0)" id="navAllNotes"><i class="glyphicon glyphicon-user"></i> Profile</a>
                </li>
                <li ng-class="{'active': settingsCtrl.activeTab.active == 1}">
                    <a href ng-click="settingsCtrl.changeTab(1)" id="navToday"><i class="glyphicon glyphicon-lock"></i> Privacy</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div class="row">
        <div profile-tab ng-hide="settingsCtrl.activeTab.active != 0">

        </div>
        <div privacy-tab ng-hide="settingsCtrl.activeTab.active != 1">

        </div>
    </div>
</div>