<div class="modal-header">
    <h4 class="modal-title">Add note</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="newNoteModalInstanceCtrl.title" id="titleInput"
                       placeholder="Title">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Content</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="newNoteModalInstanceCtrl.content" id="contentInput"
                       placeholder="Content">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Expired on</label>
            <div class="col-sm-10" date-Time-Picker></div>
        </div>
        <div uib-dropdown>
            <button  type="button" class="btn btn-primary" uib-dropdown-toggle>
                Friends <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="fr in newNoteModalInstanceCtrl.friends"><a href ng-click="newNoteModalInstanceCtrl.addFriend(fr)">{{fr}}</a></li>
            </ul>
        </div>
        <span>[{{newNoteModalInstanceCtrl.selectedUsers.toString()}}]</span>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default closeAddNote" ng-click="newNoteModalInstanceCtrl.cancel()">Close
    </button>
    <button type="button" class="btn btn-primary" ng-click="newNoteModalInstanceCtrl.addNote()" id="addBtnAddNoteForm">
        Add
    </button>
</div>