<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <strong><a class="navbar-brand" href ng-click="dashboardCtrl.redirectToHome()">TODOAPP</a></strong>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div search-friend></div>
                </div>
            </form>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown" uib-dropdown friend-request>
            </li>

            <li class="dropdown" uib-dropdown>
                <a href uib-dropdown-toggle>
                    <strong>{{dashboardCtrl.fullName}}</strong>
                    <b class="caret"></b>
                </a>
                <ul uib-dropdown-menu>
                    <li>
                        <a ng-href="#/settings"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href ng-click="dashboardCtrl.logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li ng-class="{'active': dashboardCtrl.activeTab.active == 0}">
                    <a href ng-click="dashboardCtrl.changeTab(0)" id="navAllNotes"><i class="fa fa-fw fa-tasks"></i> All
                        notes</a>
                </li>
                <li ng-class="{'active': dashboardCtrl.activeTab.active == 1}">
                    <a href ng-click="dashboardCtrl.changeTab(1)" id="navToday"><i class="fa fa-fw fa-bell-o"></i> Today</a>
                </li>
                <li ng-class="{'active': dashboardCtrl.activeTab.active == 2}">
                    <a href ng-click="dashboardCtrl.changeTab(2)" id="navAssigned"><i class="fa fa-fw fa-share"></i>
                        Assigned to me</a>
                </li>
                <li ng-class="{'active': dashboardCtrl.activeTab.active == 3}">
                    <a href ng-click="dashboardCtrl.changeTab(3)" id="navExpired"><i class="fa fa-fw fa-clock-o"></i>
                        Expired</a>
                </li>
                <li ng-class="{'active': dashboardCtrl.activeTab.active == 4}">
                    <a href ng-click="dashboardCtrl.changeTab(4)" id="navFinished"><i
                            class="fa fa-fw fa-check-square-o"></i> Finished</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div id="container-navigation-note-menu">
                        <i class="fa fa-plus" id="addIcon" ng-click="dashboardCtrl.openAddNoteModal()"
                           aria-hidden="true"></i>
                        <span>
                                Sort by:
                            </span>
                        <div class="btn-group" uib-dropdown is-open="status.isopen">
                            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle
                                    ng-disabled="disabled">
                                {{dashboardCtrl.sortByText}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li><a href ng-click="dashboardCtrl.sortBy(0)">Title Asc <i
                                        class="fa fa-sort-alpha-asc"
                                        aria-hidden="true"></i></a></li>
                                <li><a href ng-click="dashboardCtrl.sortBy(1)">Title Desc <i
                                        class="fa fa-sort-alpha-desc"
                                        aria-hidden="true"></i></a></li>
                                <li><a href ng-click="dashboardCtrl.sortBy(2)">Date Asc <i
                                        class="fa fa-sort-amount-asc"
                                        aria-hidden="true"></i></a></li>
                                <li><a href ng-click="dashboardCtrl.sortBy(3)">Date Desc <i
                                        class="fa fa-sort-amount-desc"
                                        aria-hidden="true"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" notes notesData>
            </div>
        </div>

        <div class="row col-lg-offset-5" ng-hide="dashboardCtrl.totalItems / 10 <= 1">
            <ul uib-pagination total-items="dashboardCtrl.totalItems" max-size="10"
                ng-model="dashboardCtrl.currentPage" ng-change="dashboardCtrl.pageChanged()"></ul>
        </div>
    </div>
</div>